{{yield}}

<div class="wrapper">
  <form {{action 'save' on='submit'}} class="form">
    <div class="form-group">
      <label for="title">Title</label>
      {{input value=idea.title placeholder='Title' id='title' class='form-control'}}
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      {{easy-textarea value=idea.description modifiedSubmit='save'
          placeholder='Description' id='description' class='form-control'}}
    </div>

    {{input type='submit' value='Save' class='btn btn-primary'}}
  </form>
</div>
