<div class="score col-md-1">
  <a href="#" {{action "toggleVote"}}>{{fa-icon 'arrow-up'}}</a>
  {{idea.score}}
</div>

<div class="idea-contents col-md-8">
  <h2>{{idea.title}}</h2>
  <p>{{idea.description}}</p>

  {{idea.commentCount}} comments
</div>

<div class="author col-md-3">
  <img src="{{idea.user.image}}"> {{idea.user.name}}

  <div class="actions">
    {{#link-to 'idea.edit' idea class="edit-link"}}{{fa-icon 'pencil'}}{{/link-to}}
    <a href="#" {{action "deleteIdea"}} class="delete-link">{{fa-icon 'trash'}}</a>
  </div>
</div>
